<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Музыка для каждого</title>
</head>

<body>
    <a href="/create">Add</a>
    <ui>
        <% arr.forEach(function (item) { %>
        <li>
            <%= item %>
        </li>
        <%});%>
    </ui>
</body>

</html>