
<% include layout/header.ejs%>

<a href="/create">Add</a>
<ui>
    <% posts.forEach(function (post) { %>
        <li>
            <b><%= post.title %></b>
            <br>
            <%= post.body %>
        </li>
        <br>
    <% }); %>
</ui>

<% include layout/footer.ejs%>