<% include layout/header.ejs %>

<div class="main">
    <div class="container">
        <div class="content">
            <div class="post">
                <div class="top">
                    <h2>Балалайка</h2>
                </div>
                <div class="body">
                    <p>
                        Балала́йка — русский, белорусский народный трёхструнный щипковый музыкальный инструмент с корпусом треугольной формы. Характерными приёмами звукоизвлечения являются бряцание и тремоло — удары указательным пальцем по всем струнам одновременно.
                    </p>
                </div>
                <div class="bottom">
                    <div class="author">
                        Автор:
                        <a href="/">Википедия</a>
                    </div>
                    <a href="/">Комментарии</a>
                </div>
            </div>
            <div class="post">
                <div class="top">
                    <h2>Гитара</h2>
                </div>
                <div class="body">
                    <p>
                        Гита́ра — струнный щипковый музыкальный инструмент. Применяется в качестве аккомпанирующего или сольного инструмента во многих стилях и направлениях музыки, среди которых романс, блюз, кантри, фламенко, рок, джаз. Изобретённая в XX веке электрическая гитара произвела значительные изменения в музыке и тем самым оказала сильное влияние на массовую культуру.
                    </p>
                </div>
                <div class="bottom">
                    <div class="author">
                        Автор:
                        <a href="/">Википедия</a>
                    </div>
                    <a href="/">Комментарии</a>
                </div>
            </div>
        </div>
        <% include layout/sidebar.ejs %>
    </div>
</div>

<% include layout/footer.ejs %>